<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

   <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/flex-slider.css" rel="stylesheet" />
    <link href="~/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/assets/css/owl.css" rel="stylesheet" />
    <link href="~/assets/css/templatemo-liberty-market.css" rel="stylesheet" />
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/popup.js"></script>
    <script src="~/assets/js/tabs.js"></script>
    <a href="~/assets/webfonts/fa-brands-400.ttf"></a>
    <a href="~/assets/webfonts/fa-brands-400.woff2"></a>
    <a href="~/assets/webfonts/fa-regular-400.ttf"></a>
    <a href="~/assets/webfonts/fa-regular-400.woff2"></a>
    <a href="~/assets/webfonts/fa-solid-900.ttf"></a>
    <a href="~/assets/webfonts/fa-solid-900.woff2"></a>
    <a href="~/assets/webfonts/fa-v4compatibility.woff2"></a>
    <a href="~/assets/webfonts/fa-v4compatibility.ttf"></a>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery/jquery.slim.js"></script>
    <script src="~/vendor/jquery/jquery.slim.min.js"></script>
    <a href="~/vendor/jquery/jquery.min.map">~/vendor/jquery/jquery.min.map</a>
    <a href="~/vendor/jquery/jquery.slim.min.map">~/vendor/jquery/jquery.slim.min.map</a>


    <head>

        <meta charset="utf-8">
        <meta name="author" content="templatemo">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

        <title>Liberty NFT - Author Detail Page</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*


        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="@Url.Action("Index")"> 
        <link rel="stylesheet" href="assets/css/templatemo-liberty-market.css">
        <link rel="stylesheet" href="assets/css/owl.css">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <!--

        TemplateMo 577 Liberty Market

        https://templatemo.com/tm-577-liberty-market

        -->

    

    </head>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved.
                    &nbsp;&nbsp;
                    Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                </p>
            </div>
        </div>
    </div>

  
</footer>
